* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testContainer {
  width: 50vw;
}

.middle .b1,
.middle .b2,
.middle .b3,
.middle .b4,
.middle .b5 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle .b1 {
  top: 10%;
}

.middle .b2 {
  top: 25%;
}

.middle .b3 {
  top: 40%;
}

.middle .b4 {
  top: 55%;
}

.middle .b5 {
  top: 70%;
}

.middle .b1,
.middle .b2,
.middle .b3,
.middle .b4,
.middle .b5 {
  font-size: 1.5rem;
  width: 20vw;
  height: 10vh;
  color: red;
  text-align: center;
  line-height: 3;
}
